@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 650;
    list-style: none;
}

button.buttoncito{
    font-weight: lighter;
    color: #ffffff;
    padding: 9px 25px;
    background: #FF7000;
    font-family: "Montserrat";
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}