@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
            url(imagenes/imagen\ original.jpg);
    border-radius: 0 0 180px 180px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

div.menu-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: baseline;
}

.header-content-container{
    text-align: center;
}

.Título {
    font-family: "Montserrat";
    font-size: 55px;
    line-height: 80px;
    text-transform: uppercase;
    margin-bottom: 35px;
    text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff;
  }

.btn-1 button{
    font-weight: 700;
    color: #000000;
    padding: 9px 25px;
    background: #FF7000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn-1 button:hover{
    background-color: #000000;
    color: #FF7000;
    transform: scale(1);
}

div.logo{
    cursor: pointer;
}

  div.logo img{
    height: 100px;
    padding-left: 35px;
    display: flex;
}

div.logo img:hover{
    transition: all 0.3s;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    filter: blur(10px);
    transform: scale(1.1);
}

nav.navbar{
    font-family: "Playfair Display", serif;
    background-color: #ffffff;
    padding: 0px;
    border-radius: 0 0 40px 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

nav.navbar li{
    display: inline-block;
    padding: 0 20px;
}

nav.navbar li:hover{
    transform: scale(1.1);
}

nav.navbar li a:hover{
    color: #FF7000;
}

nav.navbar a{
    font-size: 26px;
    color: #000000;
    text-decoration: none;
    text-align: center;
}

.btn button{
    font-weight: 700;
    color: #000000;
    padding: 9px 25px;
    background: #FF7000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn{
    padding-right: 35px;
}

.btn button:hover{
    background-color: #000000;
    color: #FF7000;
    transform: scale(1);
}
  
.QuieneSomos-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
}

.imagen2 {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-top: 70px;
  }

.linea1{
    position: absolute;
    left: 0;
    padding-bottom: 250px;
    z-index: -2;
}

.btn-3 button{
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 700;
    color: #000000;
    padding: 5px 20px;
    background: #FF7000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

.btn-3{
    float: right;
    margin-right: 100px;
    margin-top: -100px;
}
.btn-3 button:hover{
    background-color: #000000;
    color: #FF7000;
    transform: scale(1);
}

.Txt-2 {
    width: 50%; 
    margin: 20px; 
    text-align: justify; 
    padding-top: 70px;
  }

h1.Quienes{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #FF7000;
    font-size: 2.8rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
  }

.linea2{
    position: absolute;
    right: 0;
    bottom: -600px;
    z-index: -2;
}

.services-group{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 15px;
    margin-left: 15px;
}

.servicio-1{
    background-size: 1000px;
    background-image: linear-gradient(rgba(64, 64, 64, 0.5), rgba(64, 64, 64, 0.5)), 
    url(imagenes/servicio1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    width: 400px;
    padding: 200px 40px;
    border-radius: 10%;
    margin-right: 15px;
}

.servicio-2{
    background-size: 1000px;
    background-image: linear-gradient(rgba(64, 64, 64, 0.5), rgba(64, 64, 64, 0.5)), 
    url(imagenes/servicio2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    width: 400px;
    padding: 200px 40px;
    border-radius: 10%;
    margin-right: 15px;
}

.servicio-3{
    background-size: 1000px;
    background-image: linear-gradient(rgba(64, 64, 64, 0.5), rgba(64, 64, 64, 0.5)), 
    url(imagenes/servicio3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    width: 400px;
    padding: 200px 40px;
    border-radius: 10%;
    margin-right: 15px;
}

.servicio-4{
    background-size: 1000px;
    background-image: linear-gradient(rgba(64, 64, 64, 0.5), rgba(64, 64, 64, 0.5)), 
    url(imagenes/servicio4.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    width: 400px;
    padding: 200px 40px;
    border-radius: 10%;
}

.servicio1-titulo{
    font-family: "Montserrat";
    font-size: 17px;
    text-transform: uppercase;
    text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff;
}

.servicio2-titulo{
    font-family: "Montserrat";
    font-size: 17px;
    text-transform: uppercase;
    text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff;
}

.servicio3-titulo{
    font-family: "Montserrat";
    font-size: 17px;
    text-transform: uppercase;
    text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff;
}

.servicio4-titulo{
    font-family: "Montserrat";
    font-size: 17px;
    text-transform: uppercase;
    text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff;
}

h1.Nuestros{
    text-align: center;
    font-family: "Montserrat";
    font-size: 55px;
}

.Txt-3{
    text-align: center;
}

.p-nuestros{
    padding-top: 15px;
}

section.NuestrosServicios{
    background-image: linear-gradient(to top, rgb(252, 154, 78), #fff);
      background-repeat: no-repeat;
      height: 660px;
      padding-top: 55px;
    }
    
    .btn-4 button{
        font-family: "Montserrat";
        font-size: 13px;
        font-weight: 700;
        color: #000000;
        padding: 3px 18px;
        background: #FF7000;
        border: none;
        border-radius: 16px;
        cursor: pointer;
        transition: all 0.3s ease 0s;   
        }
    
    .btn-4 button:hover{
            background-color: #000000;
            color: #FF7000;
            transform: scale(1);
        }