

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(imagenes/Imagen\ fondo\ de\ inicio.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
  }

a.logo img{
    height: 55px;
    width: auto;
    transition: all 0.3s;
    transform: scale(1.2);
    cursor: pointer;
}

nav.navbar{
    font-family: "Playfair Display", serif;
    background-color: #FFF;
    display: flex;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
}

nav.navbar li{
    display: inline-block;
    padding: 0 20px;
    transform: scale(1.1);
}

nav.navbar a{
    color: #000000;
}
